export KUBE_DEV_UTILS_HOME="$PWD"
export KUBECONFIG=/Users/kameshs/git/kameshsampath/dag-stack/.kube/config
export REGISTRY_NAME=docker.io
export REPO="${REGISTRY_NAME}/kameshsampath/kube-dev-tools"
export KDU_DRONE_REPO=kameshsampath/kube-dev-utils
export IMAGE_REGISTRY_USER="${DOCKERHUB_USERNAME}"
export IMAGE_REGISTRY_PASSWORD="${DOCKERHUB_PASSWORD}"